#grid {
    display: flex;
}

.content {
    border-bottom: 2px solid black;
    padding: 20px;
    margin: 20px;
    background-color: rgb(29, 4, 49);
    color: white;
}

.content img {
    width: 80px;
    height: 80px;
    margin: 5px;
    margin-left: 0px;
}

.deets {
    display: flex;
    width: 400px;
    height: 80px;
    margin-bottom: 15px;
}

.deetsText {
    margin-right: 0px;
    margin-left: 5px;
    height: 80px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.title {
    margin: 0px;
}

.chaName {
    margin: 0px;
}